#glava {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;

    #iskalnik3 {
        position: absolute !important;
        right: 140px !important;
        padding-top: 18px !important;

        table {
            background-color: rgba(255, 255, 255, 0.397) !important;
            border-radius: 5px !important;
            height: 45px !important;
            padding: 0 6px !important;

            tbody tr td {
                margin: 0 !important;
            }
        }
    }

    #glava3 {
        position: absolute !important;
        right: 10px !important;
        background-color: rgba(255, 255, 255, 0.397) !important;
        padding: 10px 10px !important;
        border-radius: 5px !important;

        div {
            margin: 0 !important;
            background: url("https://www.svgrepo.com/show/343494/profile-user-account.svg");
            background-size: 32px 25px !important;
            background-repeat: no-repeat !important;
            background-color: transparent !important;
            height: 25px !important;
            width: 90px !important;

            span {
                margin-left: 33px !important;
                margin-top: -7px !important;
                color: black !important;
            }
        }
    }
}

.menizgorajA {
    width: calc(100vw - 200px) !important;
    margin-left: 200px !important;
    height: 50px !important;

    .menizgoraj {
        #MeniZgorajLevo {
            a {
                img {
                    margin-top: 10px !important;
                }
            }
        }
        #MeniZgorajSredina {
            .zavihek0 {
                border-bottom: 2px solid white !important;
                padding: 6px !important;
                border-radius: 5px !important;
                background-color: rgba(0, 0, 139, 0.3) !important;
            }

            .zavihek1 {
                border-bottom: 2px solid transparent !important;
                padding: 6px !important;
                border-radius: 5px !important;
                background-color: rgba(0, 0, 139, 0.6) !important;
            }
        }
    }
}

.left {
    background: linear-gradient(135deg, #0c0c0c, #070f1f) !important;
    color: white !important;
    padding: 20px !important;
    border-radius: 0 !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 5px !important;
    width: 200px !important;
    margin-top: -50px !important;

    div.meni1 {
        color: white !important;
        padding: 5px !important;
        border-bottom: 2px solid transparent !important;
        transition: 0.2s ease !important;

        :hover {
            border-bottom: 2px solid white !important;
            background: none !important;
        }

        a {
            color: white !important;
            text-decoration: none !important;
            border-bottom: 2px solid transparent !important;
            text-align: center !important;

            :hover {
                border-bottom: 2px solid transparent !important;
            }
        }
    }

    div.hr {
        height: 0 !important;
        background: none !important;
        border: none !important;
    }
}
